aside.aside
	.burger 
		.burger__control 
		.burger__control-btn
		.burger__title 
		.burger__title-text
	.menu 
		ul.menu__list 
			li.menu__list-item
				a(href='#') 
					.menu__element-active
						.menu__element-img
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.63232 19.7871H16.542C17.582 19.7871 18.1899 19.1938 18.1899 18.1685V11.1299L19.208 11.9868C19.3545 12.1113 19.5229 12.2212 19.728 12.2212C20.0723 12.2212 20.3506 12.0088 20.3506 11.6572C20.3506 11.4375 20.2773 11.291 20.1235 11.1592L18.1899 9.5332V6.50098C18.1899 6.17871 17.9849 5.97363 17.6626 5.97363H16.8789C16.564 5.97363 16.3516 6.17871 16.3516 6.50098V7.98779L12.499 4.75049C11.957 4.28906 11.2832 4.28906 10.7339 4.75049L3.10205 11.1592C2.94092 11.291 2.86768 11.4668 2.86768 11.6353C2.86768 11.9355 3.10205 12.2212 3.49756 12.2212C3.70264 12.2212 3.87109 12.1113 4.0249 11.9868L4.97705 11.1812V18.1685C4.97705 19.1938 5.58496 19.7871 6.63232 19.7871ZM13.7222 13.7007C13.7222 13.3638 13.5024 13.144 13.1655 13.144H10.0601C9.71582 13.144 9.49609 13.3638 9.49609 13.7007V18.6079H6.88135C6.4126 18.6079 6.15625 18.3442 6.15625 17.8682V10.1924L11.3564 5.83447C11.5176 5.68799 11.7153 5.68799 11.8765 5.83447L17.0107 10.1411V17.8682C17.0107 18.3442 16.7544 18.6079 16.293 18.6079H13.7222V13.7007Z" fill="white"/>
							</svg>
						.menu__element-text Home
			li.menu__list-item
				a(href='#') 
					.menu__element
						.menu__element-img
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.27002 19.5527H17.8164C19.3984 19.5527 20.2188 18.7397 20.2188 17.1797V8.25879C20.2188 6.69873 19.3984 5.88574 17.8164 5.88574H5.27002C3.68799 5.88574 2.86768 6.69141 2.86768 8.25879V17.1797C2.86768 18.7397 3.68799 19.5527 5.27002 19.5527ZM5.35791 18.1172C4.67676 18.1172 4.30322 17.7656 4.30322 17.0552V8.3833C4.30322 7.67285 4.67676 7.31396 5.35791 7.31396H17.7285C18.4023 7.31396 18.7832 7.67285 18.7832 8.3833V17.0552C18.7832 17.7656 18.4023 18.1172 17.7285 18.1172H5.35791ZM10.1699 15.5977L14.3813 13.1221C14.6963 12.939 14.689 12.4995 14.3813 12.3164L10.1699 9.8335C9.85498 9.65039 9.43018 9.8042 9.43018 10.1631V15.2681C9.43018 15.627 9.82568 15.8027 10.1699 15.5977Z" fill="#EBEBF5" fill-opacity="0.6"/>
							</svg>
						.menu__element-text Shorts
			li.menu__list-item
				a(href='#') 
					.menu__element
						.menu__element-img
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.92188 5.5415H16.165C16.1211 4.91895 15.7695 4.59668 15.0884 4.59668H7.99121C7.31738 4.59668 6.96582 4.91895 6.92188 5.5415ZM5.41309 7.57031H17.6738C17.564 6.90381 17.249 6.5376 16.5166 6.5376H6.57031C5.83789 6.5376 5.52295 6.90381 5.41309 7.57031ZM8.34277 20.8125H16.9121C18.4355 20.8125 19.2119 20.0508 19.2119 18.542V11.02C19.2119 9.51123 18.4355 8.74951 16.9121 8.74951H6.16748C4.62939 8.74951 3.86768 9.51123 3.86768 11.02V13.459C4.06543 13.437 4.26318 13.4224 4.45361 13.4224C4.65137 13.4224 4.84912 13.437 5.04688 13.459V11.0859C5.04688 10.3242 5.44971 9.92871 6.18213 9.92871H16.8901C17.6152 9.92871 18.0327 10.3242 18.0327 11.0859V18.4761C18.0327 19.2378 17.6152 19.6333 16.8901 19.6333H8.93604C8.79688 20.0581 8.5918 20.4536 8.34277 20.8125ZM4.46094 21.8745C6.4751 21.8745 8.18164 20.1826 8.18164 18.1538C8.18164 16.1104 6.50439 14.4331 4.46094 14.4331C2.41748 14.4331 0.740234 16.1104 0.740234 18.1538C0.740234 20.1973 2.41748 21.8745 4.46094 21.8745ZM3.25244 19.626V16.667C3.25244 16.3594 3.56006 16.2349 3.83105 16.3887L6.21875 17.8096C6.50439 17.978 6.52637 18.3149 6.2627 18.4688L3.83105 19.9043C3.56006 20.0654 3.25244 19.9336 3.25244 19.626Z" fill="#EBEBF5" fill-opacity="0.6"/>
							</svg>
						.menu__element-text Subscription
			li.menu__list-item
				a(href='#') 
					.menu__element
						.menu__element-img
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4.9917 18.022H19.6108C20.9878 18.022 21.7349 17.2676 21.7349 15.8979V7.4165C21.7349 6.03955 20.9878 5.29248 19.6108 5.29248H4.9917C3.61475 5.29248 2.86768 6.03955 2.86768 7.4165V15.8979C2.86768 17.2676 3.61475 18.022 4.9917 18.022ZM5.12354 16.4473C4.66943 16.4473 4.44238 16.2275 4.44238 15.7661V7.54102C4.44238 7.07959 4.66943 6.86719 5.12354 6.86719H19.4863C19.9404 6.86719 20.1675 7.07959 20.1675 7.54102V15.7661C20.1675 16.2275 19.9404 16.4473 19.4863 16.4473H5.12354ZM14.4546 10.4414C14.8354 10.3462 14.9453 10.251 14.9453 9.81885V8.3833C14.9453 8.07568 14.8135 7.94385 14.4106 8.04639L12.2793 8.57373C11.8984 8.66895 11.8105 8.75684 11.8105 9.20361V12.3457C11.8105 12.6533 11.7886 12.6973 11.4443 12.7925L10.7778 12.9609C10.0674 13.1514 9.53271 13.5762 9.53271 14.2793C9.53271 14.9238 10.0234 15.3853 10.7705 15.3853C11.8325 15.3853 12.5576 14.6235 12.5576 13.5469V11.1958C12.5576 10.9468 12.6089 10.8882 12.7554 10.8589L14.4546 10.4414ZM8.50732 20.6367H16.0952C16.498 20.6367 16.813 20.3071 16.813 19.9263C16.813 19.5381 16.498 19.2012 16.0952 19.2012H8.50732C8.11182 19.2012 7.78955 19.5381 7.78955 19.9263C7.78955 20.3071 8.11182 20.6367 8.50732 20.6367Z" fill="#EBEBF5" fill-opacity="0.6"/>
							</svg>
						.menu__element-text Music
	.chanel 
	.sub 
