body {
	background-color: rgb(44, 47, 81);
	padding-top: env(safe-area-inset-top);
}
.main {
	display: flex;
}

.content {
	display: flex;
	height: 100%;

	flex-grow: 1;
}

// .header__logo-img {
// 	display: none;
// 	justify-content: space-around;
// 	margin: 5px auto 15px;
// }
.mobile-logo {
	display: none;
	justify-content: space-around;
	padding: 0 0 15px;
}

.control {
	margin-bottom: 4px;
	display: flex;
	align-items: center;
}

.header {
	// display: flex;
	flex-grow: 1;
	// height: 40px;
	&__content {
		display: flex;
		align-items: center;
		// flex-grow: 1;
		background: linear-gradient(
			180deg,
			rgba(196, 39, 251, 0) 0%,
			rgba(196, 39, 251, 0.1) 50%
		);

		&-list {
			display: flex;
			font-size: 12px;
			color: $text-unactive;
			flex-grow: 1;
			max-width: 1249px;
			justify-content: space-between;
		}
		&-item {
			position: relative;
			display: flex;
			justify-content: space-between;
			// background: red;
			margin: 13px 0;
			padding: 10px;
			white-space: nowrap;
			&:hover {
				line-height: 8px;
				// text-decoration: underline;
				&::before {
					opacity: 1;
				}
			}
			&::before {
				content: '';
				position: absolute;
				top: 90%;
				left: 50%;
				right: 50%;
				transform: translateY(-50%);
				transform: translateX(-50%);

				width: 20px;
				height: 6px;
				border-radius: 10px;
				background-color: rgb(123, 45, 133);
				opacity: 0;
				transition: opacity 0.2s ease-in-out;
			}
		}

		& button {
			display: none;
			text-transform: uppercase;
			color: #cbcbcb;
			// margin: 0 auto;
			left: 30px;
			cursor: pointer;
		}
	}
	&__geners-close {
		margin: 10px;
	}
}

.page {
	// flex-grow: 1;
	&__serch {
		&-magnifier {
			padding: 10px;
		}
	}
	&__info {
		margin-left: 15px;
	}
}
// .cards {
// }
.content {
	display: flex;
	flex-wrap: wrap;
}

.cards {
	padding: 10px 10px;
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

// .card__item {
// margin: 10px;
// border-radius: 20px;
// }

.card {
	&__item {
		margin: 10px;
		// border-radius: 20px;
		&:hover {
			border-radius: 25px;
			box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
				rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
				rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
		}
		cursor: pointer;
	}
	&__logo {
		display: flex;
		align-items: center;
		margin-left: 15px;
	}
	&__image {
		// border-radius: 20px;
		img {
			border-radius: 20px 20px 0 0;
		}
	}
	&__content {
		display: flex;
		gap: 10px;
		// padding: 10px;
		max-width: 376px;
		// padding-top: 20px;
		border-radius: 0 0 20px 20px;

		background: linear-gradient(
			180deg,
			rgba(72, 49, 157, 0.1) 0%,
			rgba(35, 22, 84, 0.494) 100%
		);
	}
	&__text {
		padding: 10px;

		padding-top: 20px;

		display: flex;
		flex-direction: column;
		gap: 7px;
	}
	&__title {
		color: #fff;
		font-size: 18px;
	}
	&__author {
		color: $text-unactive;
		font-size: 14px;
	}
	&__views {
		color: $text-unactive;
		font-size: 14px;
	}
}

.header__aside-vis {
	position: relative;
	display: none;
	width: 50px;
	height: 50px;
	background: rgba(171, 132, 132, 0.167);
	border-radius: 8px;
	margin-top: 6px;
}

#menu__toggle {
	opacity: 0;
}

.menu__btn {
	display: flex;
	align-items: center;
	// position: fixed;
	top: 0px;
	left: 0px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 1;
}

.menu__btn > span {
	left: 10px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	top: 24px;
	width: 30px;
	height: 2px;
	background-color: #c6c3c3;
	transition: 0.3s;
	// left: 8px;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}

#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}

// #menu__toggle:checked  .menu__box {
// 	visibility: visible;
// 	left: 0;
// }

.header__geners-close {
	display: none;
	color: rgb(175, 175, 175);
}

.header__geners-close-img {
	width: 35px;
	height: 35px;
}
