@media (max-width: 1440px) {
	.card {
		&__item {
			max-width: 330px;
			// background: red;
		}
		&__image img {
			max-width: 330px;
		}
	}
}

@media (max-width: 1300px) {
	.card {
		&__item {
			max-width: 300px;
			// background: red;
		}
		&__image img {
			max-width: 300px;
		}
	}
}

@media (max-width: 1210px) {
	.card {
		&__item {
			max-width: 270px;
			// background: red;
		}
		&__image img {
			max-width: 270px;
		}
	}
}

@media (max-width: 1120px) {
	.card {
		&__item {
			max-width: 340px;
			// background: red;
		}
		&__image img {
			max-width: 340px;
		}
	}
}

@media (max-width: 970px) {
	.header__content {
		border-radius: 8px;
	}
	.card {
		&__item {
			max-width: 470px;
			// background: red;
		}
		&__image img {
			max-width: 470px;
		}
	}
	.aside {
		display: none;
	}
	.header__aside-vis {
		display: flex;
		position: relative;
	}
	.header__logo-img {
		display: flex;
	}
}

@media (max-width: 844px) {
	.card {
		&__item {
			max-width: 300px;
			// background: red;
		}
		&__image img {
			max-width: 300px;
		}
	}
}
@media (max-width: 784px) {
	.control {
		&__page {
			display: none;
		}
	}
	.header__content-list {
		display: none;
	}
	.header__content {
		& button {
			display: flex;
			flex-grow: 1;
			left: 50%;
			justify-content: center;
			margin-right: 40px;
			text-decoration: underline;
		}
	}
	.header__content-item {
		// background: red;
		&:hover {
			line-height: 12px;
			// text-decoration: underline;
		}
		&::before {
			left: 20px;
		}
	}
}

@media (max-width: 690px) {
	.card {
		&__item {
			max-width: 260px;
			// background: red;
		}
		&__image img {
			max-width: 260px;
		}
	}
	.card__logo {
		display: none;
	}
	.page__serch {
		width: inherit;
	}
}

@media (max-width: 690px) {
	.card {
		&__item {
			max-width: 440px;
		}
		&__image img {
			max-width: 440px;
		}
	}
	.card__logo {
		display: flex;
	}
}

@media (max-width: 440px) {
	.wrapper {
		padding: 15px 5px;
	}
	.card {
		&__item {
			max-width: 260px;
		}
		&__image img {
			max-width: 260px;
		}
	}
	.card__logo {
		display: flex;
	}
}

@media (min-width: 971px) {
	.header__content {
		border-radius: 8px;
	}

	.aside {
		display: block;
	}
	.header__aside-vis {
		display: none;
		position: absolute;
	}
}
